@import './variables.css';

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: normal;
}

ul, ol {
    list-style-type: none;
    padding-left: 0;
}

nav.horizontal-nav ol {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.logo {
    font-weight: 700;
}


nav.horizontal-nav ol li {
 margin-left: 2rem;
 font-weight: 700;
 display: inline-block;
 position: relative;
 
}

nav.horizontal-nav ol li :hover {
    color: var(--dark-gray);
}

nav.horizontal-nav ol li ::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 5px;
    bottom: -0.3rem;
    left: 0;
    background-color: aqua;
    transition: 0.5s;
    /* z-index: 2; */
}

nav.horizontal-nav ol li :hover:after{
    /* background-color: red; */
    width: 100%;
}

nav.horizontal-nav ol li a {
    text-decoration: none;
    color: var(--text-color);
}

.btn-outline {
    border: solid 4px aqua;
    /* color: inherit; */
    background-color: inherit;
    border-radius: 5px;
    font-size: inherit;
    font-weight: inherit;
    padding: 0 1rem;
    cursor: pointer;
    background-color: aqua;
    color: var(--dark-blue);
}

.high-line-height {
    line-height: 3.6em;
}

.medium-line-height {
    line-height: 2em;
}

.low-line-height {
    line-height: 1em;
}

.bg-navy {
    background-color: rgb(3, 32, 41);
}

.headshot {
    margin-top: 7rem;
    margin-right: 3rem;
    float: right;
    width: 35vw;
    height: 35vw;
    box-shadow: 0px 0px 50px aqua;
    border-radius: 50%;
    filter: brightness(10%);
}


.headshot:hover {
    filter: contrast(1.5);
    box-shadow: 0px 0px 150px aqua;
    /* transform: rotate(360deg); */
    transition: all 0.5s ease-in-out;
}

.blinking-cursor {
    display: inline-block;
    height: 4.5rem;
    border-right: solid var(--text-color);
    border-right-width: 7px;
    transform: scaleY(1.4);
    transform-origin: top;
    animation: blink 1.5s infinite;
}

section {
    margin-top: 3rem;
    padding-top: 0.2rem;
    padding-bottom: 4rem;
    width: 100vw;
    height: max-content;
    transition: all 2s ease-in-out
}

.section-title {
    width: max-content;
    padding: 1rem 2rem;
    box-shadow: 0px 3px 10px var(--dark-blue);
}
/* section.div {
    transform: rotate(20%);
    transition: all 0.5s linear;
} */


.section-content {
    padding-top: 1.3rem;
    text-indent: 2rem;
    padding-left: 2rem;
    color: #6F7378;
}

.text-dark-gray {
    color: var(--dark-gray);
}

.text-blue-sky {
    color: skyblue; 
}

.bg-blue-sky {
    background-color: rgb(59, 144, 241); 
}

.bg-dark-gray {
    background-image: linear-gradient(var(--dark-gray), var(--dark-blue));
}

.bg-white {
    background-color: var(--text-color);
    color: var(--dark-blue);
}

.bg-dark-blue  {
    background-color: var(--dark-blue);
}

.text-white {
    color: #fff;
}
.text-aqua {
    color: aqua;
}
.arobase {
    display: inline-block;
    color: aqua;
}

.infinite-rotation {
    animation: rotation 1.5s infinite linear;
} 

.unskew {
    transform: skewY(3deg);
}



@keyframes rotation {
    to {
        transform: rotate(360deg);
    }
}

@keyframes blink {
    100% {
        border-right: initial;
    }
}